* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    line-height: 1.4;
    color: black;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}
